* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.4rem;
}

h1 {
    font-size: 2rem;
    color: rgb(217, 217, 217);
}

h2 {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(110, 118, 125);
}


.container {
    border: 1px solid rgb(61, 65, 69);
    width: 40%;
    height: 100%;
}

.header-cntr {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.name-cntr {
    margin-left: 1rem;
}

.cover-photo {
    width: 100%;
    border: 2px solid green;
}

.cover {
}

.img-cntr {
    border: 1px solid yellow;
    position: relative;
}

.img1-1 {
    width: 100%;
}

.img1 {
    width: 40px;
    height: 40px;
    border-radius: 2rem;
}

.img2 {
    width: 20ram;
    height: 50%;
    display: block;
    border-radius: 100%;
    border: .25em solid black;
    background-size: contain;
    position: absolute;
    bottom: -50%;
    left: 2%;
    transform: translate(0, -50%);
}

.btn-cntr {
    width: 100%;
    display: flex;
    border: 1px solid red;
}

.btn {
    font-size: 1.8rem;
    margin: 1rem 1rem 0 auto;
    padding: .3em .8em;
    border-radius: 2rem;
    border: none;
    background-color: rgb(239, 243, 244);
}

.profile-details {
    border: 2px solid purple;
    padding-bottom: 1em;
}

.profile-cntr {
    font-size: 1.5rem;
    border: 1px solid yellow;
}

.display-name2 h1 {
    font-weight: 900;
}

.join {
    margin: 1rem 0;
}

.follow-cntr {
    display: flex;
}

.follow-cntr h1 {
    margin-right: .25rem;
    font-size: 1.5rem;
}
.follow-cntr h2 {
    font-size: 1.5rem;
}

.follow-cntr h2:nth-of-type(1) {
    margin-right: 1.5rem;
}

nav {
    display: flex;
    border: 1px solid teal;
}

.nav-tweets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-item {
    background-color: red;
    text-align: center;
}

img {
    pointer-events: none;
}

article {
    width: 100%;
    font-size: 1.4rem;
    padding: 0 1em;
    display: flex;
    border: 1px solid teal;
}

.tweet-cntr {
    width: 100%;
    border: 1px solid rgb(5, 240, 5);
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
}

.tweet-header {
    width: 100%;
    display: flex;
    border: 1px solid red;
}

.tweet-header h3 {
    font-size: 1.4rem;
    font-weight: 900;
}

.tweet-header h2 {
    margin-left: .5rem;
    font-size: 1.4rem;
}

.tweet {
    margin-bottom: 1rem;
}

.ml {
    margin-left: auto;
}

.icons-cntr {
    display: flex;
}

.icon {
    border-radius: 2rem;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.mr {
    margin-right: 10rem;
}

.icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.icon:hover::after {
    cursor: pointer;
    background-color: aqua;
    opacity: .5;
}


